{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% bootstrap_css %}
        <title>Catalog</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container-fluid"></div>
        <div class="container d-flex flex-wrap">
            {% for item in items %}
            <div class="card m-3" style="width: 18rem">
                <img
                    src="{{ item.image.url }}"
                    class="card-img-top"
                    alt="item"
                />
                <div class="card-body">
                    <div class="">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h5 class="card-title">{{ item.price }}$</h5>
                    </div>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'footer.html' %}
    </body>
</html>
