{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% bootstrap_css %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'core/style.css' %}"
        />
        <title>Home</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h1>This is home page</h1>
        {% include 'footer.html' %}
    </body>
</html>
