{% load static %} {% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% bootstrap_css %}
        <title>Item</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container d-flex mt-3 p-3 wrap">
            <div class="container">
                <img
                    src="{{ item.image.url }}"
                    alt="{{ item.name }}"
                    style="width: 400px; height: 400px"
                />
            </div>
            <div class="container">
                <h3>{{ item.price }}$</h3>
                <h5>{{ item.name }}</h5>
                <p>{{ item.description }}</p>
                <button class="btn btn-primary">Buy</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
